@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
html {
  scroll-behavior: smooth;
}
html * {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----- SECTIONS -------*/
.inicio-section {
  height: 115vh;
  width: 100%;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url(../assets/index-background.jpg) no-repeat center center;
  background-size: cover;
}
.inicio-section .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5.5em;
  width: 100%;
  background-color: #000;
  z-index: 50;
  margin-bottom: 20px;
  position: fixed;
}
.inicio-section .header .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.inicio-section .header .nav-container .logo img {
  height: 5.5em;
  width: 140px;
}
.inicio-section .header .nav-container .nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inicio-section .header .nav-container .nav__list .nav__list-item a {
  text-decoration: none;
  color: #fff;
  margin-right: 12px;
  margin-left: 12px;
  font-size: 20px;
  position: relative;
  top: 7px;
}
.inicio-section .header .nav-container .nav__list .nav__list-item a:hover {
  font-size: 25px;
  transition: 0.5s;
  margin-right: 0;
  margin-left: 0;
}
.inicio-section .header .navbar {
  display: none;
}
.inicio-section .titulo-principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #eee;
}
.inicio-section .titulo-principal h1 {
  font-size: 120px;
  text-align: center;
  -webkit-animation: aparicion 1.5s 1;
          animation: aparicion 1.5s 1;
  transform: translateY(0);
  transition: 1.5s;
}
@-webkit-keyframes aparicion {
  from {
    transform: translateX(-1000px);
  }
}
@keyframes aparicion {
  from {
    transform: translateX(-1000px);
  }
}

.separador {
  width: 100%;
  height: 15rem;
  background-color: #000;
}

.productos-section {
  background: url(../assets/productos/products-background.png);
}
.productos-section #productos__title {
  text-align: center;
  color: #000;
  font-size: 60px;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.productos-section .photo-slider {
  display: flex;
  justify-content: center;
}
.productos-section .photo-slider .slider-products {
  -webkit-animation: animacion-slider 1.5s 1;
  animation: animacion-slider 1.5s 1;
}
@-webkit-keyframes animacion-slider {
  from {
    transform: translateX(1000px);
  }
}
@keyframes animacion-slider {
  from {
    transform: translateX(1000px);
  }
}
.productos-section .photo-slider .carousel {
  height: 28em;
  width: 920px;
}
.productos-section .photo-slider .carousel .carousel-inner {
  height: 100%;
  width: 100%;
}
.productos-section .photo-slider .carousel .carousel-inner .carousel-item {
  height: 100%;
  width: 100%;
}
.productos-section .photo-slider .carousel .carousel-inner .carousel-item .d-block {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.productos-section .productos-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}
.productos-section .productos-container .productos-center-alignment {
  display: flex;
  width: 1200px;
  justify-content: center;
}
.productos-section .productos-container .productos-center-alignment .productos-item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 5px;
}
.productos-section .productos-container .productos-center-alignment .productos-item-grid .productos-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 430px;
  width: 300px;
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0 1px 5px #000;
  cursor: pointer;
}
.productos-section .productos-container .productos-center-alignment .productos-item-grid .productos-item:hover {
  outline: 1px solid #000;
}
.productos-section .productos-container .productos-center-alignment .productos-item-grid .productos-item:first-child {
  justify-self: center;
}
.productos-section .productos-container .productos-center-alignment .productos-item-grid .productos-item .gorra-frente {
  height: 300px;
}
.productos-section .productos-container .productos-center-alignment .productos-item-grid .productos-item .precio {
  text-decoration: none;
  color: #111;
  position: relative;
  top: 15px;
}

.contacto-main-container {
  background: url(../../../assets/productos/products-background.png);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.contacto-main-container .donde-encontrarnos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto-main-container .donde-encontrarnos h3 {
  font-size: 27px;
  text-decoration: underline;
}
.contacto-main-container .donde-encontrarnos p {
  text-align: center;
}
.contacto-main-container .donde-encontrarnos iframe {
  height: 400px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
}
.contacto-main-container .contacto-center-div {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.contacto-main-container .contacto-center-div .form-img-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contacto-main-container .contacto-center-div .contacto-image {
  width: 50%;
  display: flex;
  justify-content: center;
}
.contacto-main-container .contacto-center-div .contacto-image img {
  width: 100%;
  height: 40em;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 10px;
  -webkit-animation: aparicionImgContacto 1.5s 1;
          animation: aparicionImgContacto 1.5s 1;
}
@-webkit-keyframes aparicionImgContacto {
  from {
    transform: translateX(-1000px);
  }
}
@keyframes aparicionImgContacto {
  from {
    transform: translateX(-1000px);
  }
}
.contacto-main-container .contacto-center-div .contacto-form-container {
  margin-top: 50px;
  margin-left: 10px;
  height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  border-radius: 7px;
  border: 1px solid #000;
  -webkit-animation: aparicionContactoForm 1.5s 1;
          animation: aparicionContactoForm 1.5s 1;
}
@-webkit-keyframes aparicionContactoForm {
  from {
    transform: translateX(800px);
  }
}
@keyframes aparicionContactoForm {
  from {
    transform: translateX(800px);
  }
}
.contacto-main-container .contacto-center-div .contacto-form-container h2 {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #000;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form input {
  height: 2.5em;
  width: 20em;
  margin: 5px;
  border: 2px solid #000;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form .mb-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form .mb-3 .form-control {
  width: 70%;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form .mb-3 .form-label {
  margin-top: 15px;
  color: #777;
  align-self: flex-start;
  margin-left: 15%;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form .mb-3 textarea {
  width: 95%;
  margin: auto;
}
.contacto-main-container .contacto-center-div .contacto-form-container .contacto-form .contacto-submit {
  margin: 15px;
  margin-bottom: 30px;
}

/*
@import "./sass/_footer.scss"; *//*# sourceMappingURL=styles.css.map */